.ressource {
	&.aloe{
		&.icon{
			background-image: url(/assets/images/ressources/aloe.png);
		}
	}
		
	&.ash{
		&.icon{
			background-image: url(/assets/images/ressources/ash.png);
		}
	}
		
	&.beeswax{
		&.icon{
			background-image: url(/assets/images/ressources/beeswax.png);
		}
	}
		
	&.bloodTurnip{
		&.icon{
			background-image: url(/assets/images/ressources/bloodTurnip.png);
		}
	}
		
	&.boneSplinter{
		&.icon{
			background-image: url(/assets/images/ressources/boneSplinter.png);
		}
	}
		
	&.cactusFlesh{
		&.icon{
			background-image: url(/assets/images/ressources/cactusFlesh.png);
		}
	}
		
	&.cattail{
		&.icon{
			background-image: url(/assets/images/ressources/cattail.png);
		}
	}
		
	&.charcoal{
		&.icon{
			background-image: url(/assets/images/ressources/charcoal.png);
		}
	}
		
	&.chitinPlate{
		&.icon{
			background-image: url(/assets/images/ressources/chitinPlate.png);
		}
	}
		
	&.clay{
		&.icon{
			background-image: url(/assets/images/ressources/clay.png);
		}
	}
		
	&.corn{
		&.icon{
			background-image: url(/assets/images/ressources/corn.png);
		}
	}
		
	&.cotton{
		&.icon{
			background-image: url(/assets/images/ressources/cotton.png);
		}
	}
		
	&.fiber{
		&.icon{
			background-image: url(/assets/images/ressources/fiber.png);
		}
	}
		
	&.fragment{
		&.icon{
			background-image: url(/assets/images/ressources/fragment.png);
		}
	}
		
	&.hide{
		&.icon{
			background-image: url(/assets/images/ressources/hide.png);
		}
	}
		
	&.hugeCactusFruit{
		&.icon{
			background-image: url(/assets/images/ressources/hugeCactusFruit.png);
		}
	}
		
	&.insects{
		&.icon{
			background-image: url(/assets/images/ressources/insects.png);
		}
	}
		
	&.ironOre{
		&.icon{
			background-image: url(/assets/images/ressources/ironOre.png);
		}
	}
		
	&.mushroomFlesh{
		&.icon{
			background-image: url(/assets/images/ressources/mushroomFlesh.png);
		}
	}
		
	&.nibiranMineral{
		&.icon{
			background-image: url(/assets/images/ressources/nibiranMineral.png);
		}
	}
		
	&.obsidian{
		&.icon{
			background-image: url(/assets/images/ressources/obsidian.png);
		}
	}
		
	&.palmLeaves{
		&.icon{
			background-image: url(/assets/images/ressources/palmLeaves.png);
		}
	}
		
	&.pearl{
		&.icon{
			background-image: url(/assets/images/ressources/pearl.png);
		}
	}
		
	&.redwoodWood{
		&.icon{
			background-image: url(/assets/images/ressources/redwoodWood.png);
		}
	}
		
	&.rupuGel{
		&.icon{
			background-image: url(/assets/images/ressources/rupuGel.png);
		}
	}
		
	&.rupuVine{
		&.icon{
			background-image: url(/assets/images/ressources/rupuVine.png);
		}
	}
		
	&.sand{
		&.icon{
			background-image: url(/assets/images/ressources/sand.png);
		}
	}
		
	&.stone{
		&.icon{
			background-image: url(/assets/images/ressources/stone.png);
		}
	}
		
	&.sulfur{
		&.icon{
			background-image: url(/assets/images/ressources/sulfur.png);
		}
	}
		
	&.whornberry{
		&.icon{
			background-image: url(/assets/images/ressources/whornberry.png);
		}
	}
		
	&.wood{
		&.icon{
			background-image: url(/assets/images/ressources/wood.png);
		}
	}
		
	&.wormSilk{
		&.icon{
			background-image: url(/assets/images/ressources/wormSilk.png);
		}
	}
		
}