$topbarHeight: 50px;
$color1: #fff;
$color3: #fff;
$defaultTextColor: #444;
main-top-bar{
	height:$topbarHeight;
	width:100%;
	display:block;
	background-color:$color1;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	position:relative;
	z-index:20;
	#menu-img{
		width: 40px;
	    height: 40px;
	    padding: 8px;
	    margin-top: 5px;
		transform: rotate(90deg);
		transition-duration:0.2s;
		cursor: pointer;
		&.open{
			transform: rotate(0deg);
			transition-duration:0.2s;
		}
	}

	#title{
		color:#444;
		line-height: $topbarHeight;
		font-size:23px;
		margin-left:15px;
		display:inline-block;
		vertical-align: top;

		&.active{
			color:#3498db;
		}
	}

	.user{
		float: right;
		line-height: $topbarHeight;

		.auth{
			.signin{

			}

			.signup{
				background-color:#3498db;
				color:#fff;
			}

			& > * {
				font-size:17px;
				display: inline-block;
				vertical-align: top;
				padding:0px 15px;
				text-decoration: none;
			}
		}

		.user-infos{	
	    	margin-right: 40px;
	    	position: relative;
			#user-name{
				border-bottom: 1px solid #dedede;
	    		padding: 0px 10px;
	    		line-height: 30px;
			}

			.open{
				width:12px;
				cursor: pointer;
				transition-duration:0.2s;
				&.active{
					transform:rotate(-180deg);
					transition-duration:0.2s;
				}
			}

			> * {
				display: inline-block;
	    		vertical-align: middle;
			}

			.flyout{
				z-index:20;
				position:absolute;
				top:50px;
				width:130px;
				right:0px;
				background-color:#3498db;
				max-height: 0px;
				overflow: hidden;
				transition-duration:0.2s;

				& > .content{
					position:relative;
					clear:both;
					padding:10px;
					.logout{
						cursor: pointer;
						& > * {
							display: inline-block;
							vertical-align: top;
						}

						label{
							width:75%;
						}
						img{
							width:25%;
						}
					}

					& > * {
						height: 25px;
		 				line-height: 25px;
		 				display: block;
					}
				}

				&.display{
					transition-duration:2s;
					max-height: 1024px;
				}

				
			}
		}
	}

	
}